input#OdspuAddCodeSearch.form-control.noprint(type="text")
.OdspuAddList.noprint
	input#OdspuAddFilterAjax(type="hidden", value="/bsPdspusAjax?xOrder="+Order._id+"@#OdspuAddElem@bs")
	#OdspuAddElem.mt-5

script(src="/js/bser/order/Order/detail/OdspuAdd.js")