extends ../../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/bser") Home
				li.breadcrumb-item: a(href="/bsColors") 颜色列表
				li.breadcrumb-item.active(aria-current="page") #{title}
		hr
		form.mt-5#objForm(method="post", action="/bsColorNew", enctype="multipart/form-data")
			.form-group.row
				label.col-3.col-sm-2.col-form-label(for="codeIpt") code
				.col-9.col-sm-6
					input#codeIpt.form-control(type="text", name="obj[code]")
				.offset-3.col-9.col-form-label#codeDanger.text-danger(style="display:none") 请输入正确的编号
			.form-group.row
				label.col-3.col-sm-2.col-form-label(for="rgbIpt") rgb
				.col-9.col-sm-6
					input#rgbIpt.form-control(type="text", name="obj[rgb]", placeholder="六位16位进制的数字")
				.offset-3.col-9.col-form-label#rgbDanger.text-warning(style="display:none") 必须是六位16位进制的数字
			.form-group.row
				label.col-3.col-sm-2.col-form-label(for="sortIpt") sort
				.col-9.col-sm-6
					input#sortIpt.form-control(type="number", name="obj[sort]", value=1)
			hr
			.form-group.row
				.offset-sm-6.col-sm-2
					input.btn.btn-success.btn-block(type="submit" value="确认")
	input#ColorStint(type="hidden", value=ColorStint)
	script(src="./js/bser/attr/Color/add.js")