extends ../../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/bser") Home
				li.breadcrumb-item: a(href="/bsUsers") 用户列表
				li.breadcrumb-item.active(aria-current="page") #{title}
		hr
		form(method="post", action="/bsUserNew", enctype="multipart/form-data")
			.form-group.row
				label.col-3.col-sm-2.col-form-label(for="iptCode") 帐号
				.col-9.col-sm-6
					input#iptCode.form-control(type="text", name="obj[code]")
				.offset-3.col-9.col-form-label.text-danger
			.form-group.row
				label.col-3.col-sm-2.col-form-label(for="iptPwd") 密码
				.col-9.col-sm-6
					input#iptPwd.form-control(type="text", name="obj[pwd]")
				.offset-3.col-9.col-form-label.text-danger
			hr
			.form-group.row
				label.col-3.col-sm-2.col-form-label(for="iptRl") role
				.col-9.col-sm-6
					select#iptRl.form-control(name="obj[role]", data-style="btn-info")
						each role in Conf.roleUser
							if role.num > crUser.role
								-a;
								option(value=role.num) #{role.val}
				.offset-3.col-9.col-form-label.text-danger
			.form-group.row
				label.col-3.col-sm-2.col-form-label(for="iptNome") Name
				.col-9.col-sm-6
					input#iptNome.form-control(type="text", name="obj[nome]")
				.offset-3.col-9.col-form-label.text-danger
			.form-group.row
				.offset-sm-6.col-sm-2
					input.btn.btn-success.btn-block(type="submit" value="确认")