.navbar.navbar-light.navbar-expand-md.fixed-top.noprint(style="background-color: #20B2AA;")
	a(href="/bser")
		img(src="/media/icon/icon.jpg", width="35px")
	button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation")
		<span class="navbar-toggler-icon"></span>

	if crUser
		-a;
		.collapse.navbar-collapse#navbarTogglerDemo02
			ul.navbar-nav.mr-auto.mt-2.mt-lg-0
			ul.navbar-nav
				li: a.btn.btn-info(href="/user/"+crUser._id) hello: #{crUser.code}
				li: a.ml-3.btn.btn-danger(href="/logout") Logout