a.btn.btn-warning(href="#", data-toggle="modal", data-target="#updCode") 更改账号

#updCode.modal.fade
	.modal-dialog
		.modal-content
			form#upCode(method="post", action="/bsUserUpdCode", enctype="multipart/form-data")
				.modal-header: h3 <span class="oi oi-pencil"></span>
				.modal-body
					input(type="hidden", name="obj[_id]", value=User._id)
					.form-group.row
						label.col-3.col-form-label(for="codeIpt") code
						.col-9
							input#codeIpt.form-control(type="text", name="obj[code]" value=User.code)
						.offset-3.col-9.col-form-label.text-danger
				

				.modal-footer
					button.btn.btn-default(type="button" data-dismiss="modal") 取消
					button.btn.btn-success(type="submit") 提交