extends ../aalayout/layout

block content
	.container
		include ./order/Order/add
		hr
		.row
			.col-6.col-lg-3.text-center.mt-3
				a(href="/bsOrders")
					img(src="/media/indicate/comment.png", width="50px", height="50px")
					span.btn.btn-default.btn-lg.btn-block 订单列表
			.col-6.col-lg-3.text-center.mt-3
			.col-6.col-lg-3.text-center.mt-3
			.col-6.col-lg-3.text-center.mt-3
				a(href="/bsUsers")
					img(src="/media/indicate/comment.png", width="50px", height="50px")
					span.btn.btn-default.btn-lg.btn-block 客户列表
		hr
		.row
			.col-6.col-lg-3.text-center.mt-3
				a(href="/bsPdspus")
					img(src="/media/indicate/comment.png", width="50px", height="50px")
					span.btn.btn-default.btn-lg.btn-block 模特库
			.col-6.col-lg-3.text-center.mt-3
			.col-6.col-lg-3.text-center.mt-3
				a(href="/bsPdCategs")
					img(src="/media/indicate/comment.png", width="50px", height="50px")
					span.btn.btn-default.btn-lg.btn-block 模特分类
			.col-6.col-lg-3.text-center.mt-3
				a(href="/bsPdNomes")
					img(src="/media/indicate/comment.png", width="50px", height="50px")
					span.btn.btn-default.btn-lg.btn-block 名称表
		hr
		.row
			.col-6.col-lg-3.text-center.mt-3
				a(href="/bsMtrials")
					img(src="/media/indicate/comment.png", width="50px", height="50px")
					span.btn.btn-default.btn-lg.btn-block 材料列表
			.col-6.col-lg-3.text-center.mt-3
			.col-6.col-lg-3.text-center.mt-3
				a(href="/bsMtCategs")
					img(src="/media/indicate/comment.png", width="50px", height="50px")
					span.btn.btn-default.btn-lg.btn-block 材料分类
			.col-6.col-lg-3.text-center.mt-3
				a(href="/bsMtFirms")
					img(src="/media/indicate/comment.png", width="50px", height="50px")
					span.btn.btn-default.btn-lg.btn-block 供货商
		hr
		.row
			.col-6.col-lg-3.text-center.mt-3
				a(href="/bsPterns")
					img(src="/media/indicate/comment.png", width="50px", height="50px")
					span.btn.btn-default.btn-lg.btn-block 印花列表
			.col-6.col-lg-3.text-center.mt-3
			.col-6.col-lg-3.text-center.mt-3
				a(href="/bsPtCategs")
					img(src="/media/indicate/comment.png", width="50px", height="50px")
					span.btn.btn-default.btn-lg.btn-block 印花分类
			.col-6.col-lg-3.text-center.mt-3
				a(href="/bsPtFirms")
					img(src="/media/indicate/comment.png", width="50px", height="50px")
					span.btn.btn-default.btn-lg.btn-block 印花厂
		hr
		.row
			.col-6.col-lg-3.text-center.mt-3
			.col-6.col-lg-3.text-center.mt-3
			.col-6.col-lg-3.text-center.mt-3
				a(href="/bsColors")
					img(src="/media/indicate/comment.png", width="50px", height="50px")
					span.btn.btn-default.btn-lg.btn-block 颜色列表
			.col-6.col-lg-3.text-center.mt-3
				a(href="/bsSizes")
					img(src="/media/indicate/comment.png", width="50px", height="50px")
					span.btn.btn-default.btn-lg.btn-block 尺寸列表
		//- hr
		//- .row
			.col-6.col-lg-3.text-center.mt-3
				a(href="/bsLangs")
					img(src="/media/indicate/comment.png", width="50px", height="50px")
					span.btn.btn-default.btn-lg.btn-block 语言库
