extends ../../../aalayout/layout

block content
	.container
		if info
			-a;
			.border.p-2.my-3.rounded.text-center.text-warning
				h3 #{info}
				.text-right
					a.btn.btn-default(href="/bsPdNomes") 确认
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/bser") Home
				li.breadcrumb-item.active(aria-current="page") #{title}
		.row.my-3
			.col-12.text-right
				button.btn.btn-danger.jsDel-btnClick.mr-5(type="button") -
				a.btn.btn-warning(href="/bsPdNomeAdd") +

		- getUrl = "/bsPdNomeUpdAjax";
		.row
			each PdNome in PdNomes
				- object = PdNome;
				.col-6.col-lg-3.mt-4
					.card.text-center(style="width: 100%;")
						.card-body
							.code
								- field="code", value=PdNome.code, subid="code";
								include ../../../../aaPlugin/ajaxInputUpd
							.sort.mt-3
								- field="sort", value=PdNome.sort, subid="sort";
								include ../../../../aaPlugin/ajaxInputUpd
							.text-right.mt-3.jsDel-objElem(style="display:none")
								a.text-danger(href="/bsPdNomeDel/"+PdNome._id) [删除]